* {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    left: 5em;
    /* position: absolute; */
    /* margin-left: 3em; */
}

.slogan {
    border: 2px hsl(0, 0%, 100%) solid;
    color: hsl(0, 0%, 100%);
    padding: 1em 1em 1em 1em;
    font-size: 4em;
    text-transform: uppercase;
    width: 30%;
    position: absolute;
    /* margin-left: 3em; */
    margin-top: 5em;
}

.menu-image {
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}


.menu {
    /* width: 100%; */
}

.menu .content{
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 2em;
    margin-left: 8em;
    position: absolute;
    display: flex;
    align-items: baseline;
}

.menu .content .icons {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 30%;
    left: 50%;
}

.menu .content .icons .icon {
    color: hsl(0, 0%, 100%);
    padding-bottom: 0.5em;
}

.menu .content .icons .icon:hover {
    cursor: pointer;
    border-bottom: 2px hsl(0, 0%, 100%) solid;
}

@media only screen and (max-width: 400px) {
    .menu .content .icons{
        left: 0;
        width: 100%;
        flex-direction: column;
        bottom: 0;
    }

    .slogan {
        width: 100%;
    }
}

.header {
    position: relative;
    margin: 8em;
    /* display: flex; */
    /* align-items: baseline; */
    /* justify-content: center; */
}

.header img {
    z-index: -1;
}

.header .content{
    position: absolute;
    bottom: 0;
    padding-left: 2em;
    padding-top: 2em;
    width: 30%;
    background-color: hsl(0, 0%, 100%);
    left: 50%;
}

.header .content h1 {
    text-transform: uppercase;
    font-size: 4em;
}